.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.locked_element {
  margin-left: 32px;
  padding-right: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 80px;
  max-height: calc(100vh - 536px);
  margin: 16px 0;
  padding: 0 8px 0 0;
  overflow-y: auto;
  list-style-type: none;
}

.item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 16px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}
